*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    /* background: url(images/background-main.jpg) no-repeat; */
    /* background: url(images/background-main-new.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed; */
}
.logo{
    font-size: 2rem;
    text-decoration: none;
    color: goldenrod;
    text-transform: uppercase;
    padding-left: 1.5rem;
}
.header{
    top:0 ;
    left: 0;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.3% 3%;
    z-index: 1050;
    width: 100%;
    margin: auto;
    height: 1.7rem;
    background-color: rgba(54, 39, 0, 0.637);
}
.header::before{
    content: '';
    position: absolute;
    backdrop-filter: blur(250px);
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.nav-bar a{
    margin-left: 3.1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(251, 255, 0);
    text-shadow: 1px 2px 1px black;
    text-transform: uppercase;
}
.nav-bar {
    margin-right: 5rem;
}
.icons{
    font-size: 2.2rem;
    color: aliceblue;
    margin-right: 3.35rem;
}
#menu-close{
    display: none;
}
#check{
    display: none;
}
#menu-open{
    display: none;
}
.logo-image{
    width: 2rem;
    height: auto;
    margin-right: -3vh;
}
.logo-container{
    display:flex;
    align-items: center;
} 

/* class main */

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background-main-new.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    padding-left: 5rem;
}
.main h2{
    font-size: 2rem;
    color: rgb(255, 217, 0);
    text-shadow: 
        2px 2px 0px #000,  /* Bottom right */
        -2px -2px 0px #000, /* Top left */
        -2px 2px 0px #000,  /* Bottom left */
        2px -2px 0px #000,  /* Top right */
        2px 0px 0px #000,   /* Right */
        -2px 0px 0px #000,  /* Left */
        0px 2px 0px #000,   /* Bottom */
        0px -2px 0px #000;  /* Top */
}
.main h2 span{
    padding: 0.1rem;
    padding-left: 2.5rem;
    display: block;
    color: rgb(255, 255, 255);

}
/* section {
    padding: 10px 20px;
} */

.main h3{
    font-size: 1.5rem;
    text-shadow: 
    2px 2px 0px #000,  /* Bottom right */
    -2px -2px 0px #000, /* Top left */
    -2px 2px 0px #000,  /* Bottom left */
    2px -2px 0px #000,  /* Top right */
    2px 0px 0px #000,   /* Right */
    -2px 0px 0px #000,  /* Left */
    0px 2px 0px #000,   /* Bottom */
    0px -2px 0px #000;  /* Top */
    color: rgb(242, 250, 126);
}
.projects{
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    border-radius: 15px;
}
.social-icons a{
    color: white;
    font-size: 1.3rem;
    /* margin-right: 5rem; */
}
.social-icons a i{
    padding-left: 0.7rem;
}